
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cấp lại mật khẩu</title>
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="~/Content/angular-growl.min.css" rel="stylesheet" />

</head>
<body class="bg-primary" ng-app="LoginApp" ng-controller="LoginController">
    <div growl></div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Quên mật khẩu</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Nhập email của bạn để chúng tôi có thể cung cấp mật khẩu mới</div>
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" ng-model="email_check" type="email" placeholder="name@example.com" />
                                            <label for="inputEmail">Email</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="@Url.Action("LoginPage", "Admin")">Quay lại trang Đăng Nhập</a>
                                            <a class="btn btn-primary" ng-click="ResetPassword()">Cấp lại mật khẩu</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Register", "Admin")">Đăng kí tài khoản</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/Admin/js/scripts.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
